:root {
  --main-bg-light: #ffffff;
  --main-bg-dark: #0e1116;
  --secondary-bg-light: #f0f2f6;
  --secondary-bg-dark: #262730;
}

body {
  background-color: var(--main-bg-light);
  color: #333;
}

body.dark {
  background-color: var(--main-bg-dark);
  color: #f0f0f0;
}

.secondary-bg {
  background-color: var(--secondary-bg-light);
}

body.dark .secondary-bg {
  background-color: var(--secondary-bg-dark);
}

:root {
  --text-color: #333;
  --bg-color: #fff;
  --border-color: #ccc;
  --primary-color: #3b82f6;
  --primary-dark-color: #2563eb;
  --hover-color: #f3f4f6;
}

.dark {
  --text-color: #f0f0f0;
  --bg-color: #333;
  --border-color: #4b5563;
  --primary-color: #3b82f6;
  --primary-dark-color: #2563eb;
  --hover-color: #374151;
}
